# Carpetas generadas automáticamente por Visual Studio
bin/
obj/
.vs/

# Archivos de configuración del usuario
*.user
*.suo

# Archivos de compilación
*.exe
*.dll
*.pdb

# Otros archivos innecesarios
*.cache
*.log
*.csproj.user
